/* Skills 시작 === */
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills_content {
    width: 100%;

    margin-top: 3000px;
    margin-right: 1000px;
    transition: all 5s;
    display: grid;
    margin: 2rem 3rem;
    grid-template-areas: 
        "aa  bb"
        "aa  cc"
    ;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
}
    .skills_coding {
        grid-area: aa;
        width: 100%;
        padding: 1rem;
        background-color: var(--color-primary);
    }
    .skills_tools {
        grid-area: bb;
        padding: 1rem;
        background-color: var(--color-primary);
        filter: brightness(110%);
    }
    .skills_etc {
        grid-area: cc;
        padding: 1rem;
        background-color: var(--color-primary);
        filter: brightness(110%);
    }

/* skills bar 시작 === */
.skills_bar {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;   /* flex-flow: row wrap;으로 하여 됩니다. */
    padding: 1rem;
    gap: 0.5rem;
}
    .bar_text {
        margin-top: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .bar_bg {
        width: 100%;
        height: 3px;
        background-color: var(--color-primary-variant);
        margin-top: 10px;
    }
        .bar_value {
            height: 3px;
            background-color: var(--color-accent);
        }

    /* text 처리 */
    .skills_title {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 1.5rem;
    }        
    .bar_text_02 {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }